{% extends 'layout.twig' %}

{% block body %}

	<script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script defer src="/javascripts/commscript.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	
	<style>
		.favorite-icon {
			cursor: pointer;
		}
	</style>

	<div class="container mt-4" id="table-container">
		<h2 id="current-readings">Last Measure</h2>
		<table id="" class="table">
			<thead>
				<tr>
					<th>Date and Time</th>
					<th>Sequence ID</th>
					<th>ID</th>
					<th>Length (cm)</th>
				</tr>
			</thead>
			<tbody id="measure-data">

				{% if measures is not empty %}
					{% for measure in measures %}
						<tr>
							<td>{{ measure.time }}</td>
							<td>{{ measure.idSequence }}</td>
							<td>{{ measure.idMeasures }}</td>
							<td>{{ measure.length }}</td>
							<td>
								<i class="fas fa-heart favorite-icon" data-measure="{{ measure.idMeasures }}"></i>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="4">No data available</td>
					</tr>
				{% endif %}

			</tbody>
		</table>

		<button type="button" class="btn btn-danger" id="reset-button">Reset</button>

	</div>
{% endblock %}
